target_binary/p_test
target_binary/tenda_ac9/fuzz_output/*
target_binary/tenda_ac9/fuzz_output1/*
target_binary/tenda_ac9/tenda_ac9_js/vector_db/*
target_binary/tenda_ac9/httpd_81_patch.*
target_binary/tenda_ac9/httpd_81_temp.*
target_binary/tenda_ac9/httpd_81.*
target_binary/tenda_ac9/telnet.py
target_binary/tenda_ac9/parameter_analyer_with_key.py
parameter_analyer/parameter_analyer_with_key.py
.vscode/